:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
  }

  * {
    color: var(--fontColor);
    font-family: helvetica;
  }
  
  body {
      background: var(--bg);
  }

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
    

  .btn {
    position: relative;
    height: 50px;
    width: 150px;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  
  .btn:focus { outline-style: none; }

  .light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
  
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }